.navbar-brand{
    padding: 5px 15px;
}
.navbar-default{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0px;
/*    border-color: #ff0000;
    border-bottom: 5px solid #ff0000;*/
}
h1, h2, h3{
    font-family: 'Slabo 27px', serif;
    color: $brand_gw2;
}

.topic{
    display: block; float: left; width: 18%; margin-right: 2%; margin-bottom: 2%;
    a{
        background: #fff;
        text-decoration: none;
        &:hover{
            background: #f2f2f2;
        }
        .panel-heading{
            text-align: center;
            height: 80px;
            font-weight: bold;
        }
        .panel-footer{
            text-align: center;
            font-size: 85%;
            font-weight: normal;
            color: black;
        }
        .panel-success > .panel-footer {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }
    }

}